body {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    background: #0e0e0e;
}

main {
    margin-top: 100px;
}

.container {
    margin: 5px;
}

.center {
    text-align: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

form#upload-form {
    background-color: transparent;
    width: 100%;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li::before {
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Top bar menu */
.navsection {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100px;
    width: 100%;
    background: #111;
    display:inline-block;
}

.navsection a {
    font-size: 50px;
    color: #fff;
}

.navsection ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navsection ul li {
    position: relative;
    margin: 0 20px 0 0;
    display: inline-block;
}

.navsection ul li a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.navsection ul li a:hover {
    opacity: 0.5;
}

.navsection ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background: #111;
    float: left;
}

.navsection ul li ul li {
    width: 100%;
}

.navsection ul li:hover ul {
    display:block;
}

/* Random specific classes */
.label_right_10 label {
    margin-right: 10px;
}

.medium_font_size {
    text-align: center;
    margin-top: 150px;
    font-size: xx-large;
  }

.small_font_size {
    font-size: 25px;
}

#welcome-to-wildfire h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.result {
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.result-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.result img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Start Badass Green Button */
.green_badass_button {
    --green: #1BFD9C;
    font-size: 15px;
    margin: 5px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.green_badass_button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.green_badass_button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.green_badass_button:hover:before {
    transform: translateX(15em);
}
/* Stop badass green button */
